@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply min-w-0;
  }

  body {
    grid-template-rows: auto 1fr auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-semibold text-neutral-900 dark:text-neutral-100;
  }

  h1,
  h2,
  h3 {
    @apply leading-none tracking-tight;
  }

  h1,
  h2,
  h3 {
    @apply leading-none tracking-tighter;
  }

  h1 {
    @apply text-5xl; /* clamp(3.3594rem, 2.8694rem + 2.45vw, 4.7681rem) */
  }

  h2 {
    @apply text-4xl; /* clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem) */
  }

  h3 {
    @apply text-3xl; /* clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem) */
  }

  h4 {
    @apply text-2xl; /* clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem) */
  }

  h5 {
    @apply text-xl; /* clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem) */
  }

  h6 {
    @apply text-lg; /* clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem) */
  }

  a {
    @apply underline underline-offset-2 hover:text-neutral-900 dark:hover:text-neutral-100;
  }

  p > code,
  li > code,
  a > code {
    @apply bg-neutral-300 p-1 text-neutral-900 dark:bg-neutral-700 dark:text-neutral-100;
  }
}

/* 
  1. Defines .flow class to help manage flow and rhythm of elements.
  2. Every direct sibling child element of .flow has margin-block-start added to it.
  3. Uses 1em as a fallback from clamp syntax.
*/
.flow > * + * {
  margin-block-start: 1em;
  margin-block-start: clamp(1rem, 1rem + 0vw, 1rem);
}
